$border_frame: 3px solid #000;
$primary-bg-color: #1e3a8a; // blue-700
$secondary-bg-color: #93c5fd; // blue-200
$text-light-color: #ffffff;
$text-dark-color: #333333;
$hover-bg-color: #2563eb; // blue-600
$sidebar-width: 16rem;